@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6366f1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F5F5F4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  /* background-color: #242424 !important; */
  background-color: #121212 !important;
  color: white !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* react-input-emoji */
.dark .react-input-emoji--container {
  background: #282828 !important; 
  color: #e5e7eb !important;
  border-color: #35393e8d !important;
}

.dark .react-input-emoji--input  {
  color: #e5e7eb !important;
}

.dark .react-input-emoji--placeholder  {
  color: #e5e7eb53 !important;
}